html, body{
    padding:0;
    margin:0;
    text-align: center;

}
header{
    width: 100%;
}
header img{
    width: 10%;
}
input[type=text], input[type=email]{
    width: 30%;
}
li{
    text-decoration: none;
    list-style: none;
    background: white;
    text-align: center;
    display:flex;
    align:left;
}